[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	shallow = true
[submodule "spaceship-prompt"]
	path = spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
	shallow = true
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv.git
	shallow = true
[submodule "gruvbox-contrib"]
	path = gruvbox-contrib
	url = https://github.com/morhetz/gruvbox-contrib.git
	shallow = true
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug.git
	shallow = true
